<!-- <h3 *ngIf="products;else noProduct">{{title}}</h3> -->

<app-catagory></app-catagory>
<div class="form-group">



    <input type="email" class="form-control" id="ProductName" placeholder="Arama" [(ngModel)]="filterText">
    <small *ngIf="filterText" class="form-text text-muted">Şuan <strong>{{filterText}} </strong>aranıyor</small>
</div>




<div class="row">
    <ng-template #noProduct>

        <div class="alert alert-primary" role="alert">
            Bu Kategoride İstenen Ürün Bulunamadı!
        </div>

    </ng-template>
    <div *ngFor="let product of products | productFilter:filterText" class="productbox" >
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}} {{product.price | currency:"USD"}}</h5>
            <p class="card-text">{{product.descripton}}</p>
            <a (click)="addtocart(product)" href="#" class="btn btn-primary">Sepete At</a>
        </div>
    </div>







</div>